language: generic
sudo: required
services:
  - docker

 before_install:
  - docker build -t sridjnath09/docker-react  . 

script:
  - docker run  sridjnath09/docker-react npm run test -- -- coverage


